#inputs{
  margin-left: .5em;
}
#description{
  font-weight: 600;
}
.currentWeather{
  width: 17%;
  padding: .5em;
  margin: .5em;
  border: 1px solid black;
  border-radius: 5px;
}
#weatherOutput{
  display: flex;
  flex-wrap: wrap; 
}
.dayCard{
  width: 15%;
  padding: .5em;
  margin: .5em;
  border: 1px solid black;
  border-radius: 5px;
}
.center{
  text-align: center;
}
.hourCard{
  width: 10%;
  padding: .5em;
  margin: .5em;
  border: 1px solid black;
  border-radius: 5px;
}